:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --yellow: #FDC913;
  --light-gray: #5F5F5F;
  --dark-gray: #292929;
  --red: #CE2829;
  --beige: #FAF7F2;

  --font-1: 'Roboto Condensed';
  --font-2: 'Barlow';
  --font-3: 'Quattrocento';
  --font-4: 'Satisfy';
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--beige);
  font-family: var(--font-1);
  color: var(--dark-gray);
}

.hero {
  background: url(public/assets/iteration-1/home-banner.png);
  background-size: 100% 100%;
  width: 100%;
  color: var(--beige);
  padding: 80px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero-title {
  font-size: 3rem;
  font-family: var(--font-1);
  line-height: 1.2;
  margin-bottom: 25px;
}

.hero-subtitle {
  font-size: 1rem;
  font-family: var(--font-4);
  color: var(--yellow);
}

.btn {
  background: var(--yellow);
  border: none;
  padding: 14px 34px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.hero-pizza {
  width: 550px;
  display: block;
  margin: 40px auto 0;
}

.top-nav {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.top-nav div {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--dark-gray);
  font-family: var(--font-2);
  gap: 10px;
}

.promo-section {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 11px;
  margin-top: 60px;
}

.promo-card-left {
  width: 50%;
  background: url(public/assets/iteration-2/cta/kart-1.png);
  background-size: 100% 100%;
}

.promo-card-left h2 {
  font-family: var(--font-3); 
  font-size: 2rem;
}

.promo-card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.promo-card-right-top {
  background: url(public/assets/iteration-2/cta/kart-2.png); 
  background-size: 100% 100%;
}

.promo-card-right-top h2 {
  font-family: var(--font-2);
}

.promo-card-right-bottom {
  background: url(public/assets/iteration-2/cta/kart-3.png); 
  background-size: 100% 100%;
}

.promo-card-right-bottom h2 {
  color: black; 
  font-family: var(--font-3);
}

.promo-card-right-top, .promo-card-right-bottom {
  flex: 1;
}

.promo-card-left, .promo-card-right-top, .promo-card-right-bottom {
  border-radius: 12px;
  padding: 25px;
  overflow: hidden;
  color: var(--beige);
  text-align: left;
}

.red-text {
  color: red;
}

.promo-card button {
background: var(--beige);
color: var(--red);
border: none;
padding: 8px 20px;
font-size: 0.9rem;
border-radius: 50px;
width: fit-content;
}

.category-title {
text-align: center;
font-family: var(--font-4);
font-size: 2rem;
margin-top: 60px;
color: var(--red);
}


.category-subtitle {
text-align: center;
font-size: 1.8rem;
margin-bottom: 20px;
font-family: var(--font-2);
}


.filter-buttons {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 30px;
}


.filter-btn {
padding: 10px 22px;
line-height: 0px;
background: white;
border-radius: 22px;
border: 1px solid #ddd;
cursor: pointer;
font-size: 0.9rem;
color: black;
text-align: center;
font-family: var(--font-2);
gap: 10px;
}


.filter-btn:hover {
background: var(--dark-gray);
color: white;
}

.menu-grid {
width: 90%;
margin: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
}


.menu-card {
background: white;
border-radius: 14px;
padding: 18px;
text-align: left;
box-shadow: 0 3px 8px rgba(0,0,0,0.1);
font-family: var(--font-2);
gap: 24px;
}

.menu-card span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-card img {
width: 180px;
}

.menu-card .info {
display: flex;
justify-content: space-between;
margin-top: 10px;
font-weight: bold;
}

.footer {
  background: var(--dark-gray);
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 1920;
  height: 561.25;
  top: 2475px;
  opacity: 1;
  font-family: var(--font-2);
  gap: 50px;
}

.footer-left p, .footer-menu p {
  font-size: 18px;
}

.footer h3, .footer h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.insta-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.insta-grid img {
    width: 70px;
    height: 70px;
    border-radius: 8px;
}

.footer-bottom {
    display: flex;
    background: var(--dark-gray);            
    padding-top: 15px;
    border-top: 1px solid var(--beige); 
    text-align: center;
    justify-content: center;
}

.footer-bottom span {
    font-size: 1rem;
    color: var(--beige);
}

.twitter-symbol {
  padding-left: 75%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 600px) {
  .hero-title { font-size: 2rem; }
  .hero-pizza { width: 320px; }
}
